[submodule "haxeui-kha"]
	path = haxeui-kha
	url = https://github.com/haxeui/haxeui-kha.git
[submodule "hscript"]
	path = hscript
	url = https://github.com/HaxeFoundation/hscript.git
[submodule "khafs"]
	path = khafs
	url = https://github.com/mundusnine/khafs.git
[submodule "hxmath"]
	path = hxmath
	url = https://github.com/tbrosman/hxmath.git
[submodule "echo"]
	path = echo
	url = https://github.com/AustinEast/echo.git
[submodule "haxeui-code-editor"]
	path = haxeui-code-editor
	url = https://github.com/haxeui/haxeui-code-editor.git
[submodule "foundry2d"]
	path = foundry2d
	url = https://github.com/mundusnine/foundry2d.git
[submodule "editor"]
	path = editor
	url = https://github.com/mundusnine/editor.git
[submodule "zui"]
	path = zui
	url = https://github.com/foundry2D/zui
